# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Christopher\OneDrive - stud.hs-emden-leer.de\Studium-Unterlagen\Grundlagen Programmierung 1\Abschlussprojekt_Hübner_Christopher\Source_Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
